<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/public/static/admin/css/main.css"/>
    <script type="text/javascript" src="__ROOT__/public/static/admin/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__ROOT__/public/static/admin/js/jquery-3.2.1.min.js"></script>
</head>
<body>
{include file="public/comm" /}
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" >
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>新密码：</th>
                                <td>
                                    <input class="common-text required" id="passwd" name="passwd" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>重复新密码：</th>
                                <td>
                                    <input class="common-text required" id="repasswd" name="passwd" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input id="sub" disabled class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
<script>
    $(function(){
        $('#passwd').keyup(function(){
            var passwdval = $(this).val();
            var passwdnum = $(this).val().length;
            $('#repasswd').keyup(function(){
                var repasswdval = $(this).val();
                var repasswdnum = $(this).val().length;
                if(passwdnum===0||repasswdnum===0){
                    $('#sub').attr('disabled',true);
                }else{
                    if(passwdval!=repasswdval){
                        $('#sub').attr('disabled',true);
                    }else{
                        $('#sub').attr('disabled',false);
                    }
                }
            })
        })
    })    
</script>
</body>
</html>