<div id="divTop">
                        <h1 id="BlogTitle">
                        </h1>
                    </div>
                    <div id="divNavBar">
                        <ul>
                            {volist name="nav" id="vo"}
                            <li>
                            
                                <a title="{$vo.catename}" {if condition="$vo.id eq 2"} target="_blank" {else/} {/if} href="/{$vo.url}">
                                    {$vo.catename}
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>