<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/main.css"/>
    <script type="text/javascript" src="/static/admin/js/libs/modernizr.min.js"></script>
    <style>
    .pagination {}
    .pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
    .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
    .pagination li a {display: block;text-align: center;}
    </style>
</head>
<body>
{include file="public/comm" /}
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('Article/add')}"><i class="icon-font"></i>新增文章</a>
                        
                    </div>
                </div>
                <div class="result-content">
                <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" />
							</th>
                            <th>id</th>
                            <th>点击量</th>
                            <th>文章标题</th>>
							<th>所属类别</th>
							<th>最后操作时间</th>
                            <th>操作</th>
                        </tr>
                        {volist name="list" id="vo"}
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.num}</td>
                            <td title="{$vo.title}"><a target="_blank" class="link-update" href="{:url('Article/look',array('id'=>$vo.id))}">{$vo.title}</a></td>
							<td>{$vo.catename}</td>
							<td>{$vo.update_time}</td>
                            <td>
                                <a class="link-update" href="{:url('Article/edit',array('id'=>$vo.id))}">修改</a>
                                <a onclick="return confirm('是否删除这条数据？')" class="link-del" href="{:url('Article/delete',array('id'=>$vo.id))}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                </table>
                    <div  class="list-page">共{$list->total()}条 {$list->currentPage()}/{$list->lastPage()} 页{$list->render()}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>